/* General styles, mobile first */
* {
	box-sizing: border-box;
}
body {
	margin: 0 auto;
	background-color: #F9F9F9;
	color: #555; 
	font-weight: 300;
	font-size: 100%;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
h1 {
	text-shadow: 1px 1px 1px #fff;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;;
}
p {
}
a {
	color: Blue;
	font-weight: bold;
	-webkit-transition: all .5s ease;
}
a:hover {
	background-color: #E5E5E5;
	color: #222;
}
nav {
	width: 100%;
	border-top: 1px solid #E5E5E5;
	border-bottom: 1px solid #E5E5E5;
}
ul {
	margin:0;
	padding:0;
	width: 100%;
	list-style:none;
}
ul li {
	float: left;
	width: 33.333%;
	background-color: #FFF;
}
ul li a {
	display:block;
	float: left;
	width: 100%;
	height: 80px;
	border-right: 1px solid #E5E5E5;
	color: #555;
	vertical-align: middle;
	text-align: center;
	text-decoration: none;
	line-height: 80px;
}
ul li a strong {
	display: block;
	color: #555;
	font-weight: normal;
}
ul li:last-child a {
	border: none;
}
ul li a:hover {
	background-color: #F9F9F9;
}
section img, video {
	margin-bottom: 1em;
	max-width: 100%;
	border: 10px solid #eee;
	border-radius: 5px;
	box-shadow: 0 0 5px #aaa;
}
video {
	width: 100%;
}
figure {
	margin: 0;
}
figcaption {
	color: #999;
	font-style: italic;
	font-size: .8em;
}
/* header section */
header {
	width: 100%;
	height: 82px;
	border-bottom: 1px solid #E5E5E5;
	background: #FFF;
	text-align: center;
}
header img {
	position: absolute;
	top: -.8em;
	width: 50px;
	opacity: .3;
	-webkit-transition: all 1s ease;
}
header img:hover {
	opacity: 1;
}
header h1 {
	margin-left: 2.5em;
	color: #222;
	font-size: 1.6em;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;;
}
/* Content section */
section {
	margin: 50px 0;
}
table {
	width: 100%;
	border-spacing: 0 !important;
}
td {
	margin: 0;
	height: 50px;
	border-bottom: 1px solid #E5E5E5;
}
tr:hover {
	background-color: white;
}
article {
	margin: 0 auto;
}
article#content {
	margin: 0 auto;
	width: 80%;
}
article > section {
	display:none;
}
article > section.active {
	display:block;
}
article h1 {
	margin-bottom: .5em;
}
article ul {
	margin-bottom:3em;
	list-style: none;
}
/* Aside */
aside {
	text-align: center;
}
aside h1 {
	font-size:1.2em;
}
aside img {
	margin-bottom:1em;
}
/* Dead Simple Grid */
.col {
	padding: 0 .5em;
	border: 1px solid #E5E5E5;
}
.row .row {
	margin: 0 -.5em;
	border: 1px solid #E5E5E5;
}
.row:before, .row:after {
	display: table;
	border: 1px solid #E5E5E5;
	content: "";
}
.row:after {
	clear: both;
	border: 1px solid #E5E5E5;
}